.headBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: #8e0a3c;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}
button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
}
.headBtn {
  display: flex;
  justify-content: space-around;
  width: 120px;
}
.sign {
  color: #fff;
  background-color: #450932;
}
.search {
  width: 25px;
}
.navMenu {
  margin-left: 5px;
  color: #fff;
  font-size: 20px;
}
nav {
  display: none;
}
.image {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a :visited {
  text-decoration: none;
  color: inherit;
}
.principal {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f7efed;
  border-bottom: solid #8e0a3c 3px;
}
.imageMain {
  width: 95%;
  margin-top: 25px;
}
.title {
  text-align: center;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
}
.subText {
  text-align: center;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: #f7efed;
}
.description {
  display: none;
}
.box {
  align-self: center;
  width: 30%;
  height: 90%;
  margin: 5px;
  padding: 2px;
  background-color: #f7efed;
  border-right: solid #8e0a3c 2px;
}
.subTitles {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
}
.ads {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 104px;
}
.spam {
  width: 50%;
  height: 100px;
  border: 2px solid black;
}
.desktopAds {
  display: none;
}
.moreNews {
  height: 45vh;
  padding: 2px;
  background-color: #f7efed;
}
.desktopOnly {
  display: none;
}
.boxList {
  display: flex;
  height: 75px;
  margin: 10px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  border-bottom: solid #8e0a3c 2px;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6vh;
  background-color: #7d7576;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
  width: 40%;
  background-color: transparent;
}
.icon {
  width: 25px;
}
.moreImg {
  width: 25%;
  padding: 2px;
}
/* Tablet screen code */

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #450932;
    height: 30px;
  }
  .navBtn {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
    border-left: #f7efed solid 2px;
  }
  .principal {
    width: 65%;
    flex-wrap: wrap;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .secondary {
    flex-direction: column;
    width: 35%;
    height: 57.5vh;
    border-bottom: solid #8e0a3c 3px;
  }
  .box {
    width: 90%;
    margin: 5px;
    padding-left: 9px;
    border-left: solid #8e0a3c 2px;
  }
  .image {
    width: 70%;
  }
  .title {
    color: black;
    font-size: 30px;
  }
  .rest {
    width: 100%;
    height: 20vh;
    background-color: teal;
  }
  .ads {
    height: 25vh;
    padding-top: 5px;
  }
  .spam {
    border: 2px solid black;
    width: 50%;
    height: 220px;
  }
  .desktop {
    width: 100%;
  }
  .moreNews {
    width: 100%;
    background-color: #f7efed;
  }
  .boxList {
    width: 90%;
    height: 9.5vh;
    border-bottom: solid #8e0a3c 3px;
  }
  .moreImg {
    width: 25%;
    padding: 2px;
  }
  .desktopOnly {
    display: none;
  }
}

/* Computer screen code */

@media only screen and (min-width: 950px) {
  .principal {
    flex-wrap: wrap;
    width: 55%;
    height: 75vh;
    order: 2;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 115vh;
  }
  .description {
    display: contents;
    margin-top: 5px;
    font-size: 12px;
    line-height: 15px;
    vertical-align: baseline;
  }
  .secondary {
    width: 20%;
    height: 75vh;
    order: 1;
  }
  .ads {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    height: 74.5vh;
    background-color: red;
    border-bottom: solid #8e0a3c 3px;
    order: 3;
  }
  .desktopAds {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 3;
    width: 25%;
    height: 74.5vh;
    background-color: blue;
    border-bottom: solid #8e0a3c 3px;
  }
  .spam {
    display: none;
    border: 2px solid black;
    width: 30%;
    height: auto;
  }
  .spamDesktop {
    width: 100%;
    height: 50%;
  }
  .moreNews {
    width: 50%;
    height: auto;
    background-color: #f7efed;
    order: 4;
  }
  .boxList {
    width: 100%;
    border-right: solid #8e0a3c 2px;
    margin: 0;
  }
  .moreImg {
    width: 20%;
    padding: 2px;
  }
  .desktop {
    display: flex;
    flex-direction: row;
    margin: 0;
    order: 4;
  }
  .desktopOnly {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: #f7efed;
    order: 5;
  }
  footer {
    width: 100%;
    height: 5vh;
    order: 6;
  }
}
